* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "cabin", sans-serif;
  }

.page-wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

marquee {
    align-items: center;
    display: flex;
    font-size: 2vh;
    background-color: #c95050;
    min-height: 3vh;
}

.header-container {
    background-image: linear-gradient(rgba(10, 19, 54, 0.7), rgba(4, 9, 30, 0.7)), url(images/Registration.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 60vh;

    nav{
        display: flex;
        padding: 2% 6%;
        justify-content: space-between;
        align-items: center;

        img{
            width: 180px;
        }

        .nav-contact-links {
            flex: 1;
            text-align: right;

            ul li {
                list-style: none;
                display: inline-block;
                padding: 8px 12px;
                position: relative;

                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 20px;
                  }

                  :hover::after {
                    width: 100%;
                  }

                  ::after {
                    content: "";
                    width: 0%;
                    height: 2px;
                    background: #f44336;
                    display: block;
                    margin: auto;
                    transition: 0.3s;
                  }
              }
        }

        .text-contactus {
            width: 90%;
            color: #fff;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            h1 {
                font-size: 60px;
            }
        }
    }
}

.form-info {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .form-registration {
        justify-content: flex-start;
        width: 100%;
        padding: 20px;
        background-color: #fff3f3;
        border-radius: 50px;

        h1 {
            display: flex;
            justify-content: center;
            width: 100%;
            font-size: 40px;
        }

        p {
            display: flex;
            justify-content: center;
            line-height: 20px;
            width: 100%;
            font-size: 15px;
          }

        .fullname{
            display: grid;
            grid-template-columns: auto auto;
            width: 100%;
            height: auto;
            column-gap: 50px;
            

            .fname{
                display: grid;
                width: 100%;
                
                label{
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
    
                input[type=text]{
                    display: flex;
    
                    width: 100%; /* Full width */
                    padding: 12px; /* Some padding */
                    border: 1px solid #ccc; /* Gray border */
                    border-radius: 4px; /* Rounded borders */
                    box-sizing: border-box; /* Make sure that padding and width stays in place */
                    margin-top: 6px; /* Add a top margin */
                    margin-bottom: 16px; /* Bottom margin */
                    resize: vertical;
                    font-size: 15px;
                    
                }

            }

            .lname{
                display: grid;
                width: 100%;

                label{
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
    
                input[type=text]{
                    display: flex;
    
                    width: 100%; /* Full width */
                    padding: 12px; /* Some padding */
                    border: 1px solid #ccc; /* Gray border */
                    border-radius: 4px; /* Rounded borders */
                    box-sizing: border-box; /* Make sure that padding and width stays in place */
                    margin-top: 6px; /* Add a top margin */
                    margin-bottom: 16px; /* Bottom margin */
                    resize: vertical;
                    font-size: 15px;
                    
                }

            }
            
        }

        .citizen-nation{
            display: grid;
            grid-template-columns: auto auto;
            width: 100%;
            height: auto;
            column-gap: 50px;

            .citizen{
                display: grid;
                width: 100%;
                
                label{
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
    
                input[type=text]{
                    display: flex;
    
                    width: 100%; /* Full width */
                    padding: 12px; /* Some padding */
                    border: 1px solid #ccc; /* Gray border */
                    border-radius: 4px; /* Rounded borders */
                    box-sizing: border-box; /* Make sure that padding and width stays in place */
                    margin-top: 6px; /* Add a top margin */
                    margin-bottom: 16px; /* Bottom margin */
                    resize: vertical;
                    font-size: 15px;
                    
                }

            }

            .nation{
                display: grid;
                width: 100%;
                
                label{
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
    
                input[type=text]{
                    display: flex;
    
                    width: 100%; /* Full width */
                    padding: 12px; /* Some padding */
                    border: 1px solid #ccc; /* Gray border */
                    border-radius: 4px; /* Rounded borders */
                    box-sizing: border-box; /* Make sure that padding and width stays in place */
                    margin-top: 6px; /* Add a top margin */
                    margin-bottom: 16px; /* Bottom margin */
                    resize: vertical;
                    font-size: 15px;
                    
                }

            }
            
        }

        .gen-date-phone{
            display: grid;
            grid-template-columns: auto auto 47.5%;
            width: 100%;
            height: auto;
            column-gap: 50px;

            .gender{
                display: grid;
                grid-template-columns: auto auto;
                width: 100%;
                column-gap: 30px;
                
                
                justify-content: start;
                align-items: center;

                .gender1{
                    display: flex;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                }

                .gender-M{
                    display: flex;
                    gap: 10px;
                }
                .gender-F{
                    display: flex;
                    gap: 10px;
                }
            }

            .date-of-birth{
                display: grid;
                width: 100%;     
                justify-content: start;
                align-items: center;

                .date-of-birth1{
                    display: inline-block;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;

                    
                }
                .date-of-birth-row{
                    display: grid;
                    grid-template-columns: auto auto auto;
                    
                    .date{
                        .date-control{
                            width: 100%; /* Full width */
                            padding: 12px; /* Some padding */
                            border: 1px solid #ccc; /* Gray border */
                            border-radius: 4px; /* Rounded borders */
                            box-sizing: border-box; /* Make sure that padding and width stays in place */
                            margin-top: 6px; /* Add a top margin */
                            margin-bottom: 16px; /* Bottom margin */
                            resize: vertical;
                            font-size: 15px;

                        }
                    }
                    .month{
                        .month-control{
                            width: 100%; /* Full width */
                            padding: 12px; /* Some padding */
                            border: 1px solid #ccc; /* Gray border */
                            border-radius: 4px; /* Rounded borders */
                            box-sizing: border-box; /* Make sure that padding and width stays in place */
                            margin-top: 6px; /* Add a top margin */
                            margin-bottom: 16px; /* Bottom margin */
                            resize: vertical;
                            font-size: 15px;
                        }
                    }
                    .year{
                        .year-control{
                            width: 100%; /* Full width */
                            padding: 12px; /* Some padding */
                            border: 1px solid #ccc; /* Gray border */
                            border-radius: 4px; /* Rounded borders */
                            box-sizing: border-box; /* Make sure that padding and width stays in place */
                            margin-top: 6px; /* Add a top margin */
                            margin-bottom: 16px; /* Bottom margin */
                            resize: vertical;
                            font-size: 15px;
                        }
                    }
                        
                }
            }

            .phonenumber{
                
                width: 100%;     
                justify-content: start;
                align-items: center;

                label{
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
    
                .phone-control{
                    display: flex;
    
                    width: 100%; /* Full width */
                    padding: 12px; /* Some padding */
                    border: 1px solid #ccc; /* Gray border */
                    border-radius: 4px; /* Rounded borders */
                    box-sizing: border-box; /* Make sure that padding and width stays in place */
                    margin-top: 6px; /* Add a top margin */
                    margin-bottom: 16px; /* Bottom margin */
                    resize: vertical;
                    font-size: 15px;
                    
                }
 
            }
        }

        .email-address{
            display: grid;
            grid-template-columns: auto auto;
            width: 100%;
            height: auto;
            column-gap: 50px;

            .email{
                display: grid;
                width: 100%;
                
                label{
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
    
                input[type=email]{
                    display: flex;
    
                    width: 100%; /* Full width */
                    padding: 12px; /* Some padding */
                    border: 1px solid #ccc; /* Gray border */
                    border-radius: 4px; /* Rounded borders */
                    box-sizing: border-box; /* Make sure that padding and width stays in place */
                    margin-top: 6px; /* Add a top margin */
                    margin-bottom: 16px; /* Bottom margin */
                    resize: vertical;
                    font-size: 15px;
                    
                }

            }
            
            .address{
                display: grid;
                width: 100%;
                
                label{
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
    
                input[type=text]{
                    display: flex;
    
                    width: 100%; /* Full width */
                    padding: 12px; /* Some padding */
                    border: 1px solid #ccc; /* Gray border */
                    border-radius: 4px; /* Rounded borders */
                    box-sizing: border-box; /* Make sure that padding and width stays in place */
                    margin-top: 6px; /* Add a top margin */
                    margin-bottom: 16px; /* Bottom margin */
                    resize: vertical;
                    font-size: 15px;
                    
                }

            }
        }
        
        .E-c-name-phone{
            display: grid;
            grid-template-columns: auto auto;
            width: 100%;
            height: auto;
            column-gap: 50px;

            .e-c-name{
                display: grid;
                width: 100%;
                
                label{
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
    
                input[type=text]{
                    display: flex;
    
                    width: 100%; /* Full width */
                    padding: 12px; /* Some padding */
                    border: 1px solid #ccc; /* Gray border */
                    border-radius: 4px; /* Rounded borders */
                    box-sizing: border-box; /* Make sure that padding and width stays in place */
                    margin-top: 6px; /* Add a top margin */
                    margin-bottom: 16px; /* Bottom margin */
                    resize: vertical;
                    font-size: 15px;
                    
                }

            }

            .e-c-phone{
                display: grid;
                width: 100%;
                
                label{
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
    
                input[type=number]{
                    display: flex;
    
                    width: 100%; /* Full width */
                    padding: 12px; /* Some padding */
                    border: 1px solid #ccc; /* Gray border */
                    border-radius: 4px; /* Rounded borders */
                    box-sizing: border-box; /* Make sure that padding and width stays in place */
                    margin-top: 6px; /* Add a top margin */
                    margin-bottom: 16px; /* Bottom margin */
                    resize: vertical;
                    font-size: 15px;
                    
                }

            }

        }
        
        .E-c-email-address{
            display: grid;
            grid-template-columns: auto auto;
            width: 100%;
            height: auto;
            column-gap: 50px;

            .e-c-email{
                display: grid;
                width: 100%;
                
                label{
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
    
                input[type=email]{
                    display: flex;
    
                    width: 100%; /* Full width */
                    padding: 12px; /* Some padding */
                    border: 1px solid #ccc; /* Gray border */
                    border-radius: 4px; /* Rounded borders */
                    box-sizing: border-box; /* Make sure that padding and width stays in place */
                    margin-top: 6px; /* Add a top margin */
                    margin-bottom: 16px; /* Bottom margin */
                    resize: vertical;
                    font-size: 15px;
                }

            }

            .e-c-address{
                display: grid;
                width: 100%;
                
                label{
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
    
                input[type=text]{
                    display: flex;
    
                    width: 100%; /* Full width */
                    padding: 12px; /* Some padding */
                    border: 1px solid #ccc; /* Gray border */
                    border-radius: 4px; /* Rounded borders */
                    box-sizing: border-box; /* Make sure that padding and width stays in place */
                    margin-top: 6px; /* Add a top margin */
                    margin-bottom: 16px; /* Bottom margin */
                    resize: vertical;
                    font-size: 15px;
                }

            }

            
        }

        .E-c-relationship{
            display: grid;
            width: 47.5%;
           

            label{
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
                font-weight: 700;
            }

            select{
                width: 100%; /* Full width */
                padding: 12px; /* Some padding */
                border: 1px solid #ccc; /* Gray border */
                border-radius: 4px; /* Rounded borders */
                box-sizing: border-box; /* Make sure that padding and width stays in place */
                margin-top: 6px; /* Add a top margin */
                margin-bottom: 16px; /* Bottom margin */
                resize: vertical;
                font-size: 15px;
            }
        }

        .upload-info{
            display: grid;
            grid-template-columns: auto auto auto auto;
            width: 100%;
            column-gap: 30px;
                
            justify-content: start;
            align-items: center;

    
        }
        .upload-file{
            display: flex;
            align-items: center;
            width: 47.5%; 

            label{
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
                font-weight: 700;
            }

            input[type=file]{
                width: 100%; /* Full width */
                padding: 12px; /* Some padding */
                border: 1px solid #ccc; /* Gray border */
                border-radius: 4px; /* Rounded borders */
                box-sizing: border-box; /* Make sure that padding and width stays in place */
                margin-top: 6px; /* Add a top margin */
                margin-bottom: 16px; /* Bottom margin */
                resize: vertical;
                background-color: #fff;
                font-size: 15px;
            }
        }

        .highschool-info{
            display: grid;
            width: 100%;
            height: auto;
            

            .highschool-text{
                h1 {
                    display: flex;
                    justify-content: start;
                    font-size: 20px;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                    
                }
        
                p {
                    padding-bottom: 20px;
                    display: flex;
                    justify-content: start;
                    line-height: 20px;
                    width: 100%;
                    font-size: 15px;
                  }
            }

            .highschool-control{
                display: grid;
                grid-template-columns: 65% 30%;
                width: 100%;
                height: auto;
                column-gap: 50px;

                .highschool-name{
                    display: grid;
                    width: 100%;
                    
                    label{
                        display: flex;
                        flex-direction: column;
                        max-width: 100%;
                        margin-bottom: 5px;
                        font-weight: 700;
                    }
        
                    input[type=text]{
                        display: flex;
        
                        width: 100%; /* Full width */
                        padding: 12px; /* Some padding */
                        border: 1px solid #ccc; /* Gray border */
                        border-radius: 4px; /* Rounded borders */
                        box-sizing: border-box; /* Make sure that padding and width stays in place */
                        margin-top: 6px; /* Add a top margin */
                        margin-bottom: 16px; /* Bottom margin */
                        resize: vertical;
                        font-size: 15px;
                    }
                }

                .graduation{
                    display: grid;
                    width: 100%;
                    
                    label{
                        display: flex;
                        flex-direction: column;
                        max-width: 100%;
                        margin-bottom: 5px;
                        font-weight: 700;
                    }
        
                    input[type=number]{
                        display: flex;
        
                        width: 100%; /* Full width */
                        padding: 12px; /* Some padding */
                        border: 1px solid #ccc; /* Gray border */
                        border-radius: 4px; /* Rounded borders */
                        box-sizing: border-box; /* Make sure that padding and width stays in place */
                        margin-top: 6px; /* Add a top margin */
                        margin-bottom: 16px; /* Bottom margin */
                        resize: vertical;
                        font-size: 15px;
                    }

                }

            }


        }

        .eng-pro{

            .eng-pro-text{
                h1 {
                    display: flex;
                    justify-content: start;
                    font-size: 20px;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                    
                }
            }

            .eng-pro-radio{
                display: grid;
                grid-template-columns: auto auto auto auto;
                width: 100%;
                column-gap: 30px;
                
                justify-content: start;
                align-items: center;
                margin-bottom: 20px;
                font-size: 15px;
            }
        }

        .preferred-major{
            display: grid;
            width: 100%;

            .preferred-major-text{
                h1 {
                    display: flex;
                    justify-content: start;
                    font-size: 20px;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                    
                }

                p {
                    padding-bottom: 20px;
                    display: flex;
                    justify-content: start;
                    line-height: 20px;
                    width: 100%;
                    font-size: 15px;
                  }

            }

            .preferred-major-control{
                display: grid;
                gap: 10px;

            }

        }

        .btn-submit{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            input[type=submit]{
                width: 30%;

                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #04AA6D;
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 15px;
    
                :hover {
                    background-color: #45a049;
                }
    
            }
        }
    
    }
}